<section class="sidebar">
  <ul class="items">
    <li class="item">
      <i class="far fa-folder"></i></br>
      <span>Documents</span>
    </li>
    <li class="item">
      <i class="fas fa-coins"></i></br>
      <span>STO</span>
    </li>
    <li class="item">
      <i class="fab fa-apple"></i></br>
      <span>Apple</span>
    </li>
  </ul>
</section>